# Server Config
PORT=8000
SERVER_DOMAIN=

# Teler Config
TELER_API_KEY=
TELER_SAMPLE_RATE=8k
SECRET=
TELER_CHUNK_SIZE=500

# ULTAVOX Config
ULTAVOX_API_KEY=
ULTAVOX_AGENT_ID=
ULTAVOX_SAMPLE_RATE=8000
ULTAVOX_MESSAGE_BUFFER_SIZE=60

# NGROK Config
NGROK_AUTHTOKEN=

# Others
NODE_ENV=production